<!DOCTYPE html>
<html>
  <head>
    <title>FirstBank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# flash messages go here %>
    <%# <%= debug flash %>

    <%= render 'layouts/navbar' %>
    
    <div class='ui container'>
      <% flash.each do |key, value|%>
        <div class="ui <%= key %> message">
          <i class="close icon"></i>
          <div class="header">
            <%= value %>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
